{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <title>
            {% block title %}Aadhar{% endblock %}
        </title>
        <link rel="stylesheet" type="text/css" href="../../../static/styles/Authenticate.css">      
 <body>
        <da class="authenticatebox">
            <img src="../../../static/images/icons/icon.jpg" class="icon">
                <a>
                    <center> AADHAR AUTHENTICATION </center>
                    <br> 
                    </br>
                    <a>
                        <p>AADHAR NUMBER</p>
                        <input type="text" placeholder="Enter your Aadhaar Card Number">
                        <p> ENTER AADHAR CARD </p> 
                        <label for="avatar"></label>
                        <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
                        <input type="submit" value="Submit">
                        <a href="http://localhost:8000/">
                            <input type="button" value="Submit" />
                        </a>
                    </form>
                </h1>
        </div>
        </body>
    </head>
</html>