<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
  </head>
  <body>
    {% extends 'main.html' %} 

    {% block content %}

    <style>
      .home-container {
          display: grid;
          grid-template-columns: 1fr 3fr 1fr;
      }
    </style>

    <!-- Room List Start -->
    
    <h1>Home Templates</h1>


  <div class="home-container">
    <div>
      {% include 'base/topics_segment.html' %}
    </div>

    <div>
      <h5>{{room_count}} rooms available</h5>

      <a href="{% url 'create-room' %}">Create Room</a>
      <div>
        {% for room in rooms %}
        <div>
          <span><a href="{% url 'user-profile' room.host.id %}">@{{room.host.username}}</a></span>
          <h5>
            {{room.id}} --
            <a href="{% url 'room' room.id %}"> {{room.name}} </a>
          </h5>
          <small>{{room.topic.name}}</small>
          <hr />
        </div>
        {% endfor %}
      </div>
    </div>
      <div>
        <h3> Buzz in Startups </h3>
        <hr>
    
        <div>
          {% for tit, des in news.items %}
            <a href={{des.1}}><h3> {{tit}}</h3></a>
            <li> {{des.0}} </li>
            <hr>
          {% endfor %}
            
        </div>
  
      </div>
    </div>
    
    
    {% endblock content %}
  </body>
</html>
