{% extends 'main.html' %} {% block content %}

<style>
  .home-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }
</style>

<!-- Room List Start -->

<h1>Home Templates</h1>

<div class="home-container">
  <div>{% include 'base/topics_segment.html' %}</div>

  <div>
    <h5>{{room_count}} rooms available</h5>

    <a href="{% url 'create-room' %}">Create Room</a>
    <div>
      {% for room in rooms %}
      <div>
        <span
          ><a href="{% url 'user-profile' room.host.id %}"
            >@{{room.host.username}}</a
          ></span
        >
        <h5>
          {{room.id}} --
          <a href="{% url 'room' room.id %}"> {{room.name}} </a>
        </h5>
        <small>{{room.topic.name}}</small>
        <hr />
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}
