{% extends 'main.html' %} {% block content %}
<main class="profile-page layout layout--3">
  <div class="container">
    <!-- Topics Start -->
    {% include 'base/topics_segment.html' %}
    <!-- Topics End -->

    <!-- Room List Start -->
    <div class="roomList">
      <div class="profile">
        <div class="profile__avatar">
          <div class="avatar avatar--large active">
            <img src="https://randomuser.me/api/portraits/men/11.jpg" />
          </div>
        </div>
        <div class="profile__info">
          <h3>{{user.username}}</h3>
        </div>
        <div class="profile__about">
          <h3>About</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Consequuntur illo tenetur facilis sunt nemo debitis quisquam hic
            atque aut? Ducimus alias placeat optio accusamus repudiandae quis ab
            ex exercitationem rem?
          </p>
        </div>
      </div>
    </div>
    <!-- Room List End -->

    <!-- Activities Start -->
    {% include 'base/news_section.html' %}
    <!-- Activities End -->
  </div>
</main>
{% endblock %}
